{{define "main"}}

  <div class="content">
    <h1>{{.Title}}</h1>

    <ul class="post-list">
        {{ range first 100000 .Pages }}
            <li>
                <div class="post-list-title">
                    {{if .Content }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{else}}
                        <span>{{.Title}}</span>
                    {{end}}
                </div>
                <aside class="post-list-date">
                    {{ .Date.Format "January 2, 2006"}}
                </aside>
            </li>
        {{ end }}
        </ul>
  </div>

{{end}}