{{define "main"}}
	{{ if .Draft }}
	DRAFT
	{{ end }}

	<div class="content">
		<h1>
			{{ .Title }}
			<aside>
				{{ .Date.Format "January 2, 2006"}}
				·
				{{ .Params.location }}
				{{if .Params.cagematch}}
					·
					<a href="{{.Params.cagematch}}">Card</a>
				{{end}}
				{{if .Params.tags}}
					·
				{{end}}
				{{range .Params.tags}}
					<a href="/tags/{{.}}/" class="w3-tag">/{{.}}</a>&nbsp;
				{{end}}
			</aside>
		</h1>

		<div class="post">
			{{ .Content }}
		</div>

		{{partial "media.html" .Params}}
	</div>

{{end}}